# Database
DATABASE_URL="postgresql://user:password@localhost:5432/inspire_lab"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-here-generate-with-openssl-rand-base64-32"

# Email (optional - if not set, credentials auth will be used)
RESEND_API_KEY=""
EMAIL_FROM="noreply@inspire-lab.app"

# UploadThing
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""
